@keyframes moveToRight {
  0% {
    transform: translateX(-20%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes moveDown {
  0% {
    transform: translateY(-20%);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
