@import "./responsive.scss";
$font-color: #4f5361;
$background-color: #e6f0ff;
$primary-color: #0f1b4c;
* {
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}

body{
  font-family: 'Poppins', sans-serif;
}

@mixin btn {
  background-color: $primary-color;
  color: #ffff;
  padding: 10px;
  border-radius: 8px;
}

@mixin flex($flex-direction, $justify-content) {
  display: flex;
  justify-content: $justify-content;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: $flex-direction;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}


@media screen and (max-width: 840px) {
  .nav{
    position: absolute;
    width: 100%;
    height: 100%;
    display: blockS !important;
    top: -200%;
    left: 0;
    transition: 1s;
    background-color: $background-color;
    &__authority{
      justify-content: center !important;
    }
    .container{
      width: 100%;
      height: 100%;
      flex-direction: column;
      align-items: center;
      justify-items: center;
      justify-content: center;
    }
  }
  .header__nav-menu{
    z-index: 10;
  }
  .hero{
    .title{
      font-size: 3.2rem !important;
    }
    .message{
      font-size: 1.2rem !important
    }
  }
}



/*footer*/


@media screen and (max-width: 840px) {
  .footer{
    &__card{
      flex-basis: 49%;
    }
  }
}

@import "./footer.scss";
@import "./header.scss";
@import "./rating.scss";
@import "./how-it-work.scss";
@import "./feature1.scss";
@import "./feature2.scss";
@import "./ads.scss";
@import "./animation.scss";
.scroll{
  opacity: 0;
  padding: 10em 16px !important;
  margin: 0 auto !important;

}

.active-animation{
  animation: moveDown 1s ease-in-out;
  opacity: 1;
}

