* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

@media screen and (max-width: 840px) {
  .nav {
    position: absolute;
    width: 100%;
    height: 100%;
    display: blockS !important;
    top: -200%;
    left: 0;
    transition: 1s;
    background-color: #e6f0ff;
  }
  .nav__authority {
    justify-content: center !important;
  }
  .nav .container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  .header__nav-menu {
    z-index: 10;
  }
  .hero .title {
    font-size: 3.2rem !important;
  }
  .hero .message {
    font-size: 1.2rem !important;
  }
}
/*footer*/
@media screen and (max-width: 840px) {
  .footer__card {
    flex-basis: 49%;
  }
}
.footer {
  margin-top: 150px !important;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  align-items: flex-start;
  margin-top: 64px;
}
@media screen and (max-width: 606px) {
  .footer__card {
    margin-top: 77px;
  }
}
.footer__card .card-title {
  font-size: 1.8rem;
  color: #1c1c1d;
}
.footer__card .card-content {
  margin-top: 21px;
}
.footer__card .card-content p {
  color: #7A7A7E;
}
.footer__card .card-content .card-list {
  list-style: none;
  padding: 0;
}
.footer__card .card-content .card-list__item {
  margin-bottom: 16px;
}
.footer__card .card-content .card-list__item a {
  color: #4f5361;
  font-size: 1.4rem;
  text-decoration: none;
}

.footer-last {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.footer-last .footer__logo {
  font-size: 3.2rem;
}
@media screen and (max-width: 606px) {
  .footer-last {
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-last p {
    margin-top: 16px;
  }
}

.header {
  position: relative;
}
.header .header__nav {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  margin-bottom: 49px;
}
.header .header__nav .active {
  top: 0;
}
.header .header__nav .nav__logo {
  z-index: 15;
  font-size: 3.2rem;
}
.header .header__nav .container {
  align-items: center;
}
.header .header__nav .container .nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  text-align: center;
  margin: 0;
}
@media (max-width: 840px) {
  .header .header__nav .container .nav {
    flex-direction: column;
  }
}
.header .header__nav .container .nav__list {
  list-style: none;
  font-size: 1.6rem;
  padding: 0;
}
.header .header__nav .container .nav__list-item {
  margin-left: 30px;
  display: inline-block;
}
@media (max-width: 840px) {
  .header .header__nav .container .nav__list-item {
    display: block;
    margin: 1.6rem;
  }
}
.header .header__nav .container .nav__list-item a {
  text-decoration: none;
  color: #4f5361;
}
.header .header__nav .container .nav__authority {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.header .header__nav .container .nav__authority-element {
  color: #0f1b4c;
  margin-left: 16px;
  font-size: 1.4rem;
}
.header .header__nav .container .nav__authority .nav__register {
  background-color: #0f1b4c;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
.header .header__nav .header__nav-menu {
  display: none;
}
@media (max-width: 840px) {
  .header .header__nav .header__nav-menu {
    display: block;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.hero-massage {
  margin-bottom: 64px;
  flex: 50%;
}
.hero-massage .welcome {
  font-size: 1.8rem;
}
.hero-massage .title {
  font-size: 6.4rem;
  margin-bottom: 30px;
}
@media screen and (max-width: 994px) {
  .hero-massage .title {
    font-size: 3.2rem;
  }
}
.hero-massage .message {
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.hero-massage .hero__button {
  max-width: 170px;
  font-size: 1.6rem;
  background-color: #0f1b4c;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
.hero-img {
  flex: 50%;
}
.hero-img .img {
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 994px) {
  .hero {
    flex-direction: column;
  }
}
.rating {
  padding-top: 12em;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1110px;
  margin: 0 auto;
}
@media screen and (max-width: 606px) {
  .rating {
    padding-top: 0.1em;
  }
}
.rating p {
  font-size: 1.6rem;
  color: #7D8589;
}
.rating-heading {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 994px) {
  .rating-heading {
    flex-direction: column;
  }
}
@media screen and (max-width: 606px) {
  .rating-heading {
    flex-direction: column;
  }
}
.rating-heading h3 {
  font-size: 2.5rem;
  color: #101010;
}
.rating-heading .heading-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 994px) {
  .rating-heading .heading-item {
    margin-bottom: 1em;
  }
}
@media screen and (max-width: 606px) {
  .rating-heading .heading-item {
    flex-direction: column;
    margin-bottom: 1em;
  }
}
.rating-heading .heading-item .star-rated {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: flex-end;
}
@media screen and (max-width: 994px) {
  .rating-heading .heading-item .star-rated {
    justify-content: flex-start;
    padding-bottom: 1em;
  }
}
@media screen and (max-width: 606px) {
  .rating-heading .heading-item .star-rated {
    justify-content: flex-start;
    padding-bottom: 1em;
  }
}
.rating-companies {
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
}
.rating-companies .rating-companies-element {
  margin-top: 10em;
  width: 15%;
}
@media screen and (max-width: 994px) {
  .rating-companies .rating-companies-element {
    width: 35%;
    margin-top: 5em;
  }
}
.rating-companies .rating-companies-element img {
  width: 100%;
  max-width: 80%;
  height: auto;
}
@media screen and (max-width: 606px) {
  .rating-companies .rating-companies-element img {
    width: 100% !important;
  }
}
@media screen and (max-width: 994px) {
  .rating-companies .rating-companies-element img {
    width: 65%;
  }
}

.how-it-work {
  padding-top: 200px;
  text-align: center;
  max-width: 1110px;
  margin: 0 auto;
}
.how-it-work h3 {
  font-size: 3.5rem;
  color: #000339;
  position: relative;
}
.how-it-work h3::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: 50%;
  transform: translateX(-50%);
  width: 1.5em;
  height: 0.1em;
  background-color: #000339;
}
.how-it-work p {
  font-size: 1.4rem;
  color: #5a6473;
  margin-bottom: 5em;
}
.how-it-work__guides {
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 994px) {
  .how-it-work__guides {
    flex-direction: column;
    align-items: center;
  }
}
.how-it-work__guides .guide {
  width: 20%;
}
@media screen and (max-width: 994px) {
  .how-it-work__guides .guide {
    margin-bottom: 50px;
    width: 50%;
  }
}
.how-it-work__guides .guide__img {
  max-width: 50%;
  height: auto;
}
.how-it-work__guides .guide h4 {
  margin-top: 26px;
  color: #3b3c45;
  font-size: 2rem;
}
.how-it-work__guides .guide .link {
  margin-top: 10px;
}
.how-it-work__guides .guide .link a {
  color: #0689ff;
  text-decoration: none;
  font-size: 1.6rem;
}
.how-it-work__button {
  font-size: 1.3rem;
  background-color: #0F1B4C;
  color: white;
  padding: 1.2em 2em;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 8px;
  margin-top: 50px;
}

.feature1 {
  margin: 0 auto;
  padding: 236px 16px;
  max-width: 1110px;
}
.feature1 h3 {
  font-size: 3.5rem;
  color: #000339;
}
@media screen and (max-width: 994px) {
  .feature1 h3 {
    font-size: 2rem;
  }
}
.feature1 .view-all {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 994px) {
  .feature1 .view-all {
    flex-direction: column;
    justify-content: left;
  }
}
.feature1 .view-all p {
  font-size: 1.5rem;
  color: #5A6473;
}
.feature1 .view-all a {
  color: #0689FF;
  font-size: 1.8rem;
  text-decoration: none;
}
@media screen and (max-width: 994px) {
  .feature1 .view-all a {
    margin-top: 5px;
  }
}
.feature1 .view-all a img {
  margin-left: 10px;
}
.feature1__properties {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature1__properties .property {
  text-align: center;
  width: 32%;
}
.feature1__properties .property:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 606px) {
  .feature1__properties .property {
    width: 100% !important;
  }
}
@media screen and (max-width: 994px) {
  .feature1__properties .property {
    width: 48%;
    margin-bottom: 46px;
  }
}
.feature1__properties .property h4 {
  margin-top: 20px;
  text-align: left;
  font-size: 2rem;
  color: #000339;
}
.feature1__properties .property p {
  margin-top: 8px;
  text-align: left;
  font-size: 1.4rem;
  color: #5A6473;
}
.feature1__properties .property__img {
  width: 100%;
  max-width: 100%;
  height: auto;
}
.feature1 .bed-and-both {
  margin-top: 23px;
  display: flex;
  justify-content: space-between;
}
.feature1 .bed-and-both__element {
  display: flex;
}
.feature1 .bed-and-both__element p {
  margin-left: 10px;
}
.feature2 {
  border-radius: 20px;
  padding: 16px 16px;
  flex-wrap: wrap;
  display: flex;
  max-width: 1110px;
  margin: 0 auto;
  background-color: #063183;
}
.feature2__content {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feature2__content h3 {
  margin: 10px 0;
  color: white;
  font-size: 3.5rem;
}
@media screen and (max-width: 994px) {
  .feature2__content h3 {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 606px) {
  .feature2__content h3 {
    font-size: 2.4rem;
  }
}
.feature2__content p {
  margin: 10px 0;
  color: white;
  font-size: 1.6rem;
}
.feature2__content button {
  margin: 20px 0;
  border-style: none;
  width: 151px;
  color: #002366;
  font-size: 13px;
  padding: 14px 22px;
  border-radius: 12px;
  background-color: white;
}
.feature2__img {
  width: 48%;
}
@media screen and (max-width: 606px) {
  .feature2__img {
    width: 100%;
    margin-top: 50px;
  }
}
.feature2__img img {
  transform: scale(1.2);
  max-width: 100%;
  height: auto;
}
@media screen and (max-width: 606px) {
  .feature2__img img {
    transform: scale(1);
  }
}

/*# sourceMappingURL=style.css.map */
