* {
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header__nav {
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  margin-bottom: 49px;
}
.header__nav .nav__logo {
  font-size: 3.2rem;
}
.header__nav .nav {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  text-align: center;
}
@media (max-width: 375px) {
  .header__nav .nav {
    flex-direction: column;
    display: none;
  }
}
.header__nav .nav__list {
  list-style: none;
  font-size: 1.6rem;
  padding: 0;
}
.header__nav .nav__list-item {
  margin-left: 30px;
  display: inline-block;
}
@media (max-width: 375px) {
  .header__nav .nav__list-item {
    display: block;
    margin: 1.6rem;
  }
}
.header__nav .nav__list-item a {
  text-decoration: none;
  color: #4F5361;
}
.header__nav .nav .nav__authority {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.header__nav .nav .nav__authority-element {
  color: #0F1B4C;
  margin-left: 16px;
  font-size: 1.4rem;
}
.header__nav .nav .nav__authority .nav__register {
  background-color: #0F1B4C;
  color: white;
  padding: 10px;
  border-radius: 8px;
}
.header__nav .header__nav-menu {
  display: none;
}
@media (max-width: 375px) {
  .header__nav .header__nav-menu {
    display: block;
  }
}

.hero {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.hero-massage {
  margin-bottom: 64px;
  flex: 50%;
}
.hero-massage .welcome {
  font-size: 1.8rem;
}
.hero-massage .title {
  font-size: 6.4rem;
  margin-bottom: 30px;
}
.hero-massage .message {
  font-size: 1.6rem;
  margin-bottom: 40px;
}
.hero-massage .hero__button {
  max-width: 170px;
  font-size: 1.6rem;
  background-color: #0F1B4C;
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
}
.hero-img {
  flex: 50%;
}
.hero-img .img {
  max-width: 100%;
  height: auto;
}

/*footer*/
.footer {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
  align-items: flex-start;
  margin-top: 64px;
}
@media (max-width: 375px) {
  .footer .footer__card {
    flex-basis: 100%;
  }
}
.footer .card-title {
  font-size: 1.8rem;
  color: #1C1C1D;
}
.footer .card-content {
  margin-top: 16px;
}
.footer .card-content .card-list {
  list-style: none;
  padding: 0;
}
.footer .card-content .card-list__item {
  margin-bottom: 16px;
}
.footer .card-content .card-list__item a {
  color: #4F5361;
  font-size: 1.4rem;
  text-decoration: none;
}

.footer-last {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 1110px;
  margin: 0 auto;
  padding: 16px 16px;
}
.footer-last .footer__logo {
  font-size: 3.2rem;
}

/*# sourceMappingURL=style.css.map */
