:root {
  --primary-color: #000228;
  --list-item-nav-color: #4f5361;
  --title-footer-card-color: #1c1c1d;
  --background-color: #e6f0ff;
  --primary-color: #000228;
  --list-item-nav-color: #4F5361;
  --title-footer-card-color: #1C1C1D;
  --background-color: #E6F0FF ;
}

* {
  box-sizing: inherit;
  margin: 0;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  background-color: var(--background-color);
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.header__nav {
  margin: 0 auto;
  padding-top: 47px;
  margin-bottom: 39px;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  width: 1110px;
  /*footer*/
}
.header__nav .nav__logo {
  color: var(--primary-color);
  font-size: 2rem;
}
.header__nav .nav__list {
  list-style: none;
  font-size: 1.4rem;
  margin: 0 0;
  padding: 0;
  flex: 1;
}
.header__nav .nav__list .nav__list-item {
  display: inline-block;
  margin-left: 30px;
}
.header__nav .nav__list .nav__list-item-link {
  text-decoration: none;
  color: var(--list-item-nav-color);
}
.header__nav .nav__authority {
  margin: 0 auto;
  padding-top: 47px;
  margin-bottom: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  /*footer*/
}
.header__nav .nav__authority-element {
  margin-left: 18px;
  color: #0f1b4c;
  padding: 0 10px;
  text-align: center;
  justify-content: space-around;
  width: 1110px;
}
.header__nav .nav__authority-element .nav__logo {
  color: var(--primary-color);
  font-size: 2rem;
}
.header__nav .nav__authority-element .nav__list {
  list-style: none;
  font-size: 1.4rem;
  margin: 0 0;
  padding: 0;
  flex: 1;
}
.header__nav .nav__authority-element .nav__list .nav__list-item {
  display: inline-block;
  margin-left: 30px;
}
.header__nav .nav__authority-element .nav__list .nav__list-item-link {
  text-decoration: none;
  color: var(--list-item-nav-color);
}
.header__nav .nav__authority-element .nav__authority {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
}
.header__nav .nav__authority-element .nav__authority-element {
  margin-left: 18px;
  color: #0F1B4C;
  padding: 0 10px;
  text-align: center;
}
.header__nav .nav__authority-element .nav__register {
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  line-height: 2.1rem;
}
.header__nav .nav__authority .hero {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}
.header__nav .nav__authority .hero .welcome {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 8px;
}
.header__nav .nav__authority .hero .title {
  font-size: 6.4rem;
  line-height: 7.6rem;
  margin-bottom: 30px;
}
.header__nav .nav__authority .hero .message {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-bottom: 40px;
}
.header__nav .nav__authority .hero .hero__button {
  width: 170px;
  line-height: 1.95rem;
  border-radius: 1.2rem;
  padding: 15px 37px;
  font-size: 1.3rem;
  color: white;
  background-color: var(--primary-color);
}
.header__nav .nav__authority .footer {
  padding-top: 105px;
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
}
.header__nav .nav__authority .footer .card-title {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--title-footer-card-color);
}
.header__nav .nav__authority .footer .card-content {
  margin-top: 42px;
  font-size: 1.6rem;
}
.header__nav .nav__authority .footer .card-content .card-content__quote {
  line-height: 2.4rem;
  color: #7A7A7E;
}
.header__nav .nav__authority .footer .card-content .card-content__contact {
  margin-top: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header__nav .nav__authority .footer .card-list {
  margin-bottom: 58px;
  list-style: none;
  padding: 0;
}
.header__nav .nav__authority .footer .card-list__item {
  margin-top: 18px;
}
.header__nav .nav__authority .footer .card-list__item-link {
  text-decoration: none;
  line-height: 2.4rem;
  color: #7A7A7E;
}
.header__nav .nav__authority .nav__register {
  background-color: var(--primary-color);
  color: white;
  border-radius: 8px;
  padding: 10px 20px;
  line-height: 2.1rem;
}
.header__nav .hero {
  margin: 0 auto;
  width: 1110px;
  display: flex;
  align-items: center;
  justify-items: center;
  justify-content: space-around;
}
.header__nav .hero .welcome {
  font-size: 1.8rem;
  line-height: 2.7rem;
  margin-bottom: 8px;
}
.header__nav .hero .title {
  font-size: 6.4rem;
  line-height: 7.6rem;
  margin-bottom: 30px;
}
.header__nav .hero .message {
  font-size: 1.8rem;
  line-height: 3.2rem;
  margin-bottom: 40px;
}
.header__nav .hero .hero__button {
  width: 170px;
  line-height: 1.95rem;
  border-radius: 1.2rem;
  padding: 15px 37px;
  font-size: 1.3rem;
  color: white;
  background-color: var(--primary-color);
}
.header__nav .footer {
  padding-top: 105px;
  width: 1110px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  justify-items: center;
  flex-wrap: wrap;
}
.header__nav .footer .card-title {
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--title-footer-card-color);
}
.header__nav .footer .card-content {
  margin-top: 42px;
  font-size: 1.6rem;
}
.header__nav .footer .card-content .card-content__quote {
  line-height: 2.4rem;
  color: #7a7a7e;
}
.header__nav .footer .card-content .card-content__contact {
  margin-top: 50px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.header__nav .footer .card-list {
  margin-bottom: 58px;
  list-style: none;
  padding: 0;
}
.header__nav .footer .card-list__item {
  margin-top: 18px;
}
.header__nav .footer .card-list__item-link {
  text-decoration: none;
  line-height: 2.4rem;
  color: #7a7a7e;
}
.header__nav .footer-last {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  justify-content: space-around;
}
.header__nav .footer-last .footer__logo {
  font-size: 2rem;
  color: var(--primary-color);
}
.header__nav .footer-last .copyright {
  color: #c2c2c2;
  font-size: 14px;
}
.header__nav .footer-last {
  display: flex;
  width: 1110px;
  margin: 0 auto;
  justify-content: space-around;
}
.header__nav .footer-last .footer__logo {
  font-size: 2rem;
  color: var(--primary-color);
}
.header__nav .footer-last .copyright {
  color: #C2C2C2;
  font-size: 14px;
}

/*# sourceMappingURL=style.css.map */
